/* MAIN NAV BUTTONS */
.btn {
  text-align: center;
  font-weight: bold;
  color: white;
  border: black;
  outline: none;
  padding: 10px 16px;
  background-color: black;
  cursor: pointer;
  font-size: 18px;
  margin: 5px;
}

.btn:hover {
  background-color: white;
  color: black;
}
